# /srv/vida/app/frontend/.env  — `npm run build` paytida dist'ga yoziladi
VITE_API_URL=https://api.vidamarket.uz/api/v1
VITE_GOOGLE_CLIENT_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=
